{% extends "audio_steg/base.html" %}
{% block content %}

    <div class="jumbotron">
        <h1 class="roboto">About</h1>
        <br>
        <h3>What is Steganography?</h3>
        <p>
            Steganography is the process of hiding data within other sources of information. 
            Essentially, Steganography is an encryption technique that is used along with 
            cryptography as an extra secure method to protect data. Steganography can be physical, 
            digital, printed or using puzzles. This process of embedding data into text, images, 
            audio, video, and network components allows for invisible communication. In this project, 
            we used digital steganography methods for text encryption inside another text, audio and image.
        </p>
    </div>


{% endblock content %}